@import '../variables';
@import '../mixins';

.add-row {

    .add-row__date {
        display: block;
        margin-bottom: 10px;
    }

    input {
        @include input-number;
    }

    table {
        @include table;
    }
}