@import '../variables';
@import '../mixins';

.add-row {
    margin-bottom: 40px;
    
    .add-row__date {
        display: block;
        margin-bottom: 10px;
    }

    input {
        @include input-number;
    }

    table {
        @include table;
    }
}