@import '../variables';

.button--green {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: $primary-color;
    color: white;
    font-weight: 700;
    margin: 5px 0;
    cursor: pointer;
}

.flex--end {
    align-self: flex-end;
} 