@import "../variables";

.emballage-date{
    display: flex;
    align-items: center;
    width: 190px;
    justify-content: space-between;
    input[type="date"]{
        border-radius: 5px;
        height: 25px;
    }
}

