@import "../variables";

.emballage-date {
  display: flex;
  align-items: center;
  width: 190px;
  justify-content: space-between;
  input[type="date"] {
    border-radius: 5px;
    height: 25px;
  }
}

.emballage-buttons {
  button {
    width: 250px;
    height: 60px;
    font-size: 20px;
    border: 0px;
    font-weight: 600;
    background: #e4e4e4;
    a{
      color: $secondary-color;
      text-decoration: none;
    }
    &:first-of-type {
      border-radius: 5px 0px 0px 0px;
    }
    &:last-of-type {
      border-radius: 0px 5px 0px 0px;
    }
  }
  .button--active{
    background: $primary-color;
    a{
      color: white;
    }
  }
}

table {
  width: 100%;
  tr {
    th {
      border: 1px solid $secondary-color;
      font-weight: 600;
      padding: 5px;
    }

    &:nth-child(even) {
      td {
        border: 1px solid $secondary-color;
        padding: 5px;
        border-bottom: 0px;
      }
    }
    &:nth-child(odd) {
      td {
        border: 1px solid $secondary-color;
        padding: 5px;
        border-top: 0px;
      }
    }

    .row--red {
      background: #f8cdce;
      border: 1px solid $secondary-color !important;
    }
    .row--green {
      background: #bfe1cc;
    }
    .empty{
      color: white;
    }
  }
}

.table-buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}