@import '../variables';
@import '../mixins';

.enhanced-table {
    @include table;
    h4 {
        font-weight: bold;
    }
}

.enhanced-table__text {
    margin-bottom: 15px;
}

.pagination {
    display: flex;
    justify-content: end;
    margin-top: 5px;
    button {
        background: none;
        border: none;
        color: $secondary-color--dark;
    }
    button:disabled {
        color: $secondary-color;
    }
}

.table-data{
    width: 100%;
    overflow-x: auto;
}