footer {
    display: flex;
    place-content: space-between;
    background: #eeeeee;
    line-height: 2;
    margin-top: 25px;
    .footer--address {
        margin: 10px;
        h2 {
            font-weight: bold;
        }
    }
    .footer--links {
        display: flex;
        flex-direction: column;
        margin: 10px;
        a {
            color: black;
            text-decoration: none;
        }
    }
}