.login--wrapper {
    display: flex;
    flex-direction: column;
    .login--wrapper__image {
        background: url("../images/login-bg.jpg");
        background-size: cover;
        width: 100%;
        height: 100%;
        display: flex;
        z-index: -1;
        position: absolute;
        opacity: 0.3;
    }
    .app-logo {
            width: 100px;
            margin: 15px;
            align-self: auto;
    }
    .login--wrapper__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        width: 66%;
        a {
            margin: 20px;
            color: #00904A;
        }
        .login--form {
            display: flex;
            flex-direction: column;
            margin-top: 15px;
            width: 300px;
            align-items: flex-end;
            .login--form__wrapper {
                display: flex;
                flex-direction: column;
                align-self: center;
                margin-bottom: 15px;
                width: 100%;
                label {
                    text-align: initial;
                    font-weight: bold;
                }
                input {
                    height: 25px;
                }
            }
        }
    }
}  