.message--wrapper {
    border-bottom: solid 1px #cccccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
    &:nth-last-child(1) {
        border-bottom: none;
    }
    &__headline {
        display: flex;
        place-content: space-between;
        margin: 10px 0;
        padding: 0;
    }
    h3 {
        font-weight: bold;
    }
    p {
        margin: 10px 0;
    }
}