.messagefield--wrapper {
    display: flex;
    flex-direction: column;
    input {
        width: 175px;
    }
    .messagefield{
        resize: none;
        padding: 10px;
        border-radius: 5px 0px 5px 5px;
        border: 1px solid black;
        margin-top: 25px;  
    } 
}  
