.main {
    display: flex;
    flex-direction: column;
}

.content {
  width: calc(100% - 340px);
  margin: 0 45px;
  display: flex;
  flex-direction: column;
  background: rgba(256,256,256,0.6);
}

.app-logo {
  width: 100px;
  margin: 15px 10px;
  align-self: center;
}

.active {
  color: #00904A;
}
  
.nav {
    width: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    ul, li {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      width: 250px;
    }
    li {
      a {
        display: flex;
        padding: 10px 15px;
        place-content: space-between;
        border-bottom: solid 1px #cccccc;
        text-decoration: none;
        color: #1d1d1b;
        &:nth-child(1) {
          border-top: solid 1px #cccccc;
        }
        &:hover {
          color: #00904A;
        }
        &::after {
          content: ">";    
        }
      }
    }
}