@import '../variables';


.pagination {
    display: flex;
    list-style: none;

    .page-link {
        position: relative;
        display: block;
        padding: 5px;
        color: inherit;
        text-decoration: none;
    }

    .active {
        color: $primary-color;
        font-weight: 600;
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0,0,0,0);
        white-space: nowrap;
        border: 0;
    }
}