@import '../variables';

.prices {
    color: $secondary-color--dark;

    form {
        display: flex;
        flex-direction: column;

        input {
            border: solid 1px $secondary-color;
            border-radius: 5px;
            padding: 5px 10px;
            text-align: center;
        }

        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    }
}