@import '../variables';

.prices {
    color: $secondary-color--dark;

    table {
        border: 0;
        max-width: 350px;
        tr, td {
            border: 0 !important;
        }
        td:first-child {
            text-transform: uppercase;
            font-weight: 600;
        }
        input {
            border: solid 1px $secondary-color;
            border-radius: 5px;
            padding: 5px 10px;
            text-align: center;
        }

        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    }
}