@import '../variables';
@import '../mixins';

.prices {

    table {
        border: 0;
        max-width: 350px;
        tr, td {
            border: 0 !important;
        }
        td:first-child {
            text-transform: uppercase;
            font-weight: 600;
        }
        input {
            @include input-number;
        }

        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    }
}