@import '../variables';
@import '../mixins';

.svind {

    input {
        @include input-number;
    }

    table {
        border: 1px solid $secondary-color;
        th {
            padding: 5px 0px;
        }
        input {
            width: 80px;
        }
    }
}