.terms--wrapper {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    input {
        width: 200px;
        border: solid 1px;
        border-radius: 5px;
        margin: 5px 0;
    }
    textarea {
        width: 80%;
        border-radius: 5px;
    } 
}