.terms--wrapper {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    input {
        width: 200px;
        border: solid 1px;
        border-radius: 5px;
        border-radius: 5px 0px 5px 5px;
        border: 1px solid black;
        margin: 5px 0;
        padding: 10px;
    }
    textarea {
        width: 80%;
        padding: 10px;
        border-radius: 5px 0px 5px 5px;
        border: 1px solid black;
    } 
}