@import '../variables';
@import '../mixins';

.tomgods {

    input {
        @include input-number;
    }

    table {
        border: 1px solid $secondary-color;
        th {
            text-transform: uppercase;
            padding: 5px 0px;
        }
        td {
            border: 1px solid $secondary-color;
        }
        input {
            width: 80px;
        }
    }
}