@import 'variables';

body {
    color: $secondary-color--dark;
    overflow-y: scroll;
}
h1{
    font-size: 67px;
    margin-top: 40px;
    margin-bottom: 10px;
}
h2{
    font-size: 26px;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 16px;
}
p{
    font-size: 16px;
}