@import 'variables';

body {
    color: $secondary-color--dark;
    overflow-y: scroll;
    font-family: 'Asap', sans-serif;
}
h1{
    font-size: 67px;
    margin-top: 40px;
    margin-bottom: 20px;
}
h2{
    font-size: 26px;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 16px;
}
p{
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}

p {
	font-family: 'Asap', sans-serif;
}

.flex {
    display: flex;
}