@mixin input-number {
    border: solid 1px $secondary-color;
    border-radius: 5px;
    margin: 0 5px;
    padding: 5px 0;
    text-align: center;
}

@mixin table {
    width: 100%;
    border: 1px solid $secondary-color;
    th {
        border: 1px solid $secondary-color;
        font-weight: 600;
        text-transform: uppercase;
        padding: 5px;
        text-align: center;
    }
    td {
        border: 1px solid $secondary-color;
        padding: 5px 0px;
        text-align: center;
    }
    input {
        min-width: 40px;
        width: calc(100% - 10px);
    }
}