html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  color: #1d1d1b;
}

h1 {
  font-size: 67px;
  margin-top: 40px;
  margin-bottom: 10px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

p {
  font-size: 16px;
}

.enhed {
  width: 215px;
  height: 60px;
  background-color: #00904A;
  border: 0px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px 5px 0px 0px;
  cursor: pointer;
}

.form-enhed {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 213px;
  border: 1px solid black;
  border-radius: 0px 0px 5px 5px;
  padding: 10px 0px;
  position: absolute;
  background: white;
}

.form-enhed .form-input {
  padding: 5px 10px;
}

.comment {
  resize: none;
  padding: 10px;
  border-radius: 5px 0px 5px 5px;
  border: 1px solid black;
  display: none;
  position: absolute;
  margin-top: 25px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content {
  width: calc(100% - 250px);
  margin: 0 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app-logo {
  width: 100px;
  margin: 15px 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.active {
  color: #00904A;
}

.nav {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.nav ul, .nav li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
}

.nav li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 15px;
  place-content: space-between;
  border-bottom: solid 1px #cccccc;
  text-decoration: none;
  color: #1d1d1b;
}

.nav li a:nth-child(1) {
  border-top: solid 1px #cccccc;
}

.nav li a:hover {
  color: #00904A;
}

.nav li a::after {
  content: ">";
}

.prices table {
  border: 0;
  max-width: 350px;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

.prices table tr, .prices table td {
  border: 0 !important;
}

.prices table td:first-child {
  text-transform: uppercase;
  font-weight: 600;
}

.prices table input {
  border: solid 1px #707070;
  border-radius: 5px;
  padding: 5px 0;
  text-align: center;
  padding: 5px 10px;
}

.prices table input::-webkit-outer-spin-button,
.prices table input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.prices table input[type=number] {
  -moz-appearance: textfield;
}

.message--wrapper {
  border-bottom: solid 1px #cccccc;
  margin: 10px 0;
}

.message--wrapper:nth-last-child(1) {
  border-bottom: none;
}

.message--wrapper__headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  margin: 0;
  padding: 0;
}

.button--green {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background: #00904A;
  color: white;
  font-weight: 700;
  margin: 5px;
}

.flex--end {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.emballage-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 190px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.emballage-date input[type="date"] {
  border-radius: 5px;
  height: 25px;
}

.emballage-buttons button {
  width: 250px;
  height: 60px;
  font-size: 20px;
  border: 0px;
  font-weight: 600;
  background: #e4e4e4;
}

.emballage-buttons button a {
  color: #707070;
  text-decoration: none;
}

.emballage-buttons button:first-of-type {
  border-radius: 5px 0px 0px 0px;
}

.emballage-buttons button:last-of-type {
  border-radius: 0px 5px 0px 0px;
}

.emballage-buttons .button--active {
  background: #00904A;
}

.emballage-buttons .button--active a {
  color: white;
}

table {
  width: 100%;
}

table tr th {
  border: 1px solid #707070;
  font-weight: 600;
  padding: 5px;
}

table tr:nth-child(even) td {
  border: 1px solid #707070;
  padding: 5px;
  border-bottom: 0px;
}

table tr:nth-child(odd) td {
  border: 1px solid #707070;
  padding: 5px;
  border-top: 0px;
}

table tr .row--red {
  background: #f8cdce;
  border: 1px solid #707070 !important;
}

table tr .row--green {
  background: #bfe1cc;
}

table tr .empty {
  color: white;
}

.table-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.comment--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  border: 0px solid black !important;
}

.login--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login--wrapper .login--wrapper__image {
  background: url("../images/login-bg.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: -1;
  position: absolute;
  opacity: 0.3;
}

.login--wrapper .app-logo {
  width: 100px;
  margin: 15px;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
}

.login--wrapper .login--wrapper__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 66%;
}

.login--wrapper .login--wrapper__content a {
  margin: 20px;
  color: white;
}

.login--wrapper .login--wrapper__content .login--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15px;
  width: 300px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.login--wrapper .login--wrapper__content .login--form .login--form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 15px;
  width: 100%;
}

.login--wrapper .login--wrapper__content .login--form .login--form__wrapper label {
  text-align: initial;
  font-weight: bold;
}

.login--wrapper .login--wrapper__content .login--form .login--form__wrapper input {
  height: 25px;
}

.tomgods input {
  border: solid 1px #707070;
  border-radius: 5px;
  padding: 5px 0;
  text-align: center;
}

.tomgods table {
  border: 1px solid #707070;
}

.tomgods table th {
  padding: 5px 0px;
}

.tomgods table input {
  width: 80px;
}

.svind input {
  border: solid 1px #707070;
  border-radius: 5px;
  padding: 5px 0;
  text-align: center;
}

.svind table {
  border: 1px solid #707070;
}

.svind table th {
  padding: 5px 0px;
}

.svind table input {
  width: 80px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.pagination .page-link {
  position: relative;
  display: block;
  padding: 5px;
  color: inherit;
  text-decoration: none;
}

.pagination .active {
  color: #00904A;
  font-weight: 600;
}

.pagination .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
/*# sourceMappingURL=App.css.map */