/* Nav.scss */
.main {
    display: flex;
}

.active {
    color: #00904A;
}
  
.nav {
    width: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nav ul, .nav li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.nav li a {
    display: flex;
    padding: 10px 15px;
    place-content: space-between;
    border-bottom: solid 1px #cccccc;
    text-decoration: none;
    color: #1d1d1b;
}

.nav li a:nth-child(1) {
    border-top: solid 1px #cccccc;
}

.nav li a:hover {
    color: #00904A;
}

.nav li a::after {
    content: ">";    
}
  
.content {
    width: calc(100% - 250px);
    margin: 0 45px;
    display: flex;
    flex-direction: column;

}

